*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  }

  .bg-img {
    background-image: url(images/wikibired.png);
    opacity: 0.8;
    
  }
  
  .logo-img {
  width: 50px;
  margin-left: 10px;
  padding-right: 10px;
  }
  
  .icon {
     text-decoration: none;
     color: gray;
     padding: 7px;
     font-size: 50px;
  }
  
  a:hover {
     color: grey;
  }
  
  .user {
  align-items: end;
  text-align: center;
  }
  
  .pfp {
  height: 60px;  
  }
  
  .svg {
  font-size: 25px;
  }
  
  .artist {
    border-radius: 50%;
    height: 170px;
  }

  .verified {
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
  }

  .pause {
    height: 35px;
  }

  .btn {
    border-radius: 10px;
    height: 30px;
    width: 80px;
    background-color: green;
    border: none;
    font-size: medium;
    line-height: 1rem;
  
  }

  .btn:hover {
    background-color: rgb(3, 148, 3);
  }

  .right-col {
    justify-content: space-around;
  }

  .active {
    color: rgb(13, 173, 13);
  }

  .round {
    border-radius: 50%;
    height: 50px;
  }

.flex-container {
  justify-content: space-around;
}

.flex-container-1 {
  justify-content: space-evenly;
}

.time {
  justify-content: space-between;
  margin-left: 100px;
}

.flex-container-2 {
  margin-left: 80px;
}

.line {
  margin-left: 40px;
}

.text {
  margin-top: 40px;
  margin-left: 10px;
  
}

.contact {
  font-size: 25px;
}

.btn-icon {
  height: 20px;
}

.p-height {
  height: 50px;
}
.bg {
  background-color: black;
  padding: 30px;
}

.progress {
  height: 10px;
}
.flexitems {
  display: flex;
  justify-content: space-around;
  line-height: 50px;
  flex-wrap: wrap;
}

.round-1 {
  border-radius: 50%;
  height: 120px;
}
.rel-art-1 {
  height: 180px;
  border: 40px solid black;
}

.art-text {
  margin-left: 5px;
  margin-top: 10px;
}

.imgs {
  justify-content: space-around;
}

.txt-align {
  margin-right: 110px;
  margin-top: 10px;
}

.rose {
  margin-right: 150px;
}

.iu {
  text-align: end;
}
